{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Зміна в турі: {{ offer.id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or offer.name }}" required>
    <label for="price">Price</label>
    <input type="price" pattern="\d*" name="price" value= "{{ request.form['price'] or offer.price }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('ag_main.delete', offer_id=offer.id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}